body {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  margin-bottom: 2rem;
  display: block;
  text-decoration: none;
  color: #3b82f6;
}

form {
  margin-bottom: 2rem;
}

form label {
  display: block;
  background: #3b82f6;
  color: #fff;
  padding: 1rem 3rem;
}

img {
  height: 16rem;
  width: 16rem;
}
